@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" >*@
<link href="~/assets/js/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.min.js"></script>
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->
@*<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>*@
<script src="~/assets/js/jquery.validate.min.js"></script>
@*<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@

<link href="~/assets/js/font-awesome.min.css" rel="stylesheet" />
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<body>
    <style>
        body {
            padding-top: 4.2rem;
            padding-bottom: 4.2rem;
            background: rgba(0, 0, 0, 0.76);
        }

        a {
            text-decoration: none !important;
        }

        h1, h2, h3 {
            font-family: 'Kaushan Script', cursive;
        }

        .myform {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            padding: 1rem;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 1.1rem;
            outline: 0;
            max-width: 500px;
        }

        .tx-tfm {
            text-transform: uppercase;
        }

        .mybtn {
            border-radius: 50px;
        }

        .login-or {
            position: relative;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
        }

        .hr-or {
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }


        form .error {
            color: #ff0000;
        }

        #second {
            display: none;
        }

        .mandatory {
            border-right: 3px solid red !important;
        }

        .error {
            border-color: red !important;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div>
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Login</h1>
                            </div>
                        </div>
                        <div >
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="text" name="email" class="form-control" id="email"  placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
                            </div>

                            <div class="col-md-12 text-center ">
                                <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm" onclick=" return CheckCredential()">Login</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="text-center">Don't have account? <a href="../Home/Registration" id="signup">Sign up here</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                 
            </div>
        </div>
    </div>
</body>



<script>
     
    function CheckCredential() {
        var validatemsg = requiredFields($('#email'), "Email cannot left blank")
            & requiredFields($('#password'), "Password cannot left blank")

        if (!validatemsg) {
            return false;
        }
        var data = {};

        data.email = $('#email').val();
        data.password = $('#password').val();

        $.ajax({
            type: 'POST',
            url: "../Login/CheckCredential",
            dataType: 'json',
            data: { logDetail: data },
            success: function (result) {
                var a = JSON.parse(result.Res);
                debugger;
                if (a.Table[0].Column1 != 'Incorrect UserName' && a.Table[0].Column1 != 'Incorrect Password') {
                    window.location.href = '/Home/About';
                }
                else {
                    alert("Incorrect UserName and Password");
                }
            },
            error: function (ex) {
            }
        });


    }

</script>
<script src="~/assets/js/customValidate.js"></script>